@import 'variables';

@import 'components/fileWindow';
@import 'components/miradorViewer';
@import 'components/editorPreviewWindows';

// Global Styles
body {
  margin-top: 50px;
  height:100%;
  background-color: $default-background-color;
  color: $default-font-color;
}
